/* font */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
/* navigation bar code */
nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    height: 92px;
    align-items: center;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    
}
li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    opacity: 90%;
    line-height: 152%;

}
.bttn1{
    background-color: #30B868;
    color: #FFFFFF;
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

