/* font */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navigation bar code */
.navigation{
 background-color: #ffffff;
}
.navigation a:hover{
  background-color: #30b86979;
  border-radius: 5px;
}
nav {
   width: 85%;
  max-width: 1360px;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 92px;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}
li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  opacity: 90%;
  line-height: 152%;
}
.bttn1 {
  background-color: #30b868;
  color: #ffffff;
  width: 164px;
  height: 44px;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

/* hero section code */
.hero {
  text-align: center;
  padding: 115px 120px 179px 120px;
}
header {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h4 {
  background-color: #ffffff;
  border-radius: 1000px;
  width: 229px;
  height: 35px;
  display: inline;
  padding: 8px 12px;
  color: #30b868;
  font-size: 16px;
  font-weight: 500;
}

#hero-heading {
  color: #ffffff;
  opacity: 90%;
  font-size: 72px;
  line-height: 84px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}
#h1-style {
  color: #30b868;
}
.hero p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
}
.bttn2 {
  background-color: #30b868;
  color: #ffffff;
  width: 251px;
  height: 52px;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 32px;
  margin-right: 10px;
}
.bttn3 {
  background-color: transparent;
  color: #ffffff;
  width: 198px;
  height: 52px;
  padding: 12px 16px 12px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 32px;
}

/* note section code */
#notes {
  text-align: center;
}

#notes h2 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 16px;
}
#notes p {
  color: #627382;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 44px;
}
.cards {
  width: 85%;
  max-width: 1360px;
  height: 300PX;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  
}
.card {
  width: 322px;
  height: 300px;
  padding: 69.5px 24px 69.5px 24px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  

}
.card h3{
     margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}
.card p{
    color: #627382;
    font-size: 16px;
}


/* solution section code */

#solution{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px; 
  width: 85%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.sol-text h4{
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  
}
.sol-text h2{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  
}
.sol-text .text{
  color: #627382;
  font-size: 16px;
  margin-bottom: 20px;

}
.check-box{
  color: #001931;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}

/* Challenges section code */
#challenges{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  background-color: #F7F6F2;
  border-radius: 12px;
  padding: 80px 40px 80px 40px;
  margin-bottom: 120px;

}

#challenges h2{
  color: #001931;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 16px;
}

#challenges p{
  color: #627382;
  font-size: 16px;
  
}
.bttn4{
  background-color: #30b868;
  color: #ffffff;
  width: 194px;
  height: 52px;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

#cradit{
  color: #627382;
  font-size: 16px;
  
}

/* footer section code */
.f{
   background-color:#001931;
}
#footer{
  width: 85%;
  max-width: 1360px;
  justify-content: center;
  margin: 0 auto;
  padding: 120px 0px 30px 0px;
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  
}
.logo ul{
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#list{
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.foot{
  color: #FAFAFA;
  margin-top: 30px;
  font-size: 16px;
  text-align: center;

}
.bttn:hover{
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.299);
  cursor: pointer;
  background-color: green;
}

